<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387996622551-93c7mp65m7vmpn0tlkh50ad0vfh3nsis.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387996622551-93c7mp65m7vmpn0tlkh50ad0vfh3nsis</string>
	<key>API_KEY</key>
	<string>AIzaSyDh-04TvJFf7Y32Pe4l-zEt6G1GAZenXTM</string>
	<key>GCM_SENDER_ID</key>
	<string>387996622551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberapp1</string>
	<key>PROJECT_ID</key>
	<string>uberapp1-4b2cb</string>
	<key>STORAGE_BUCKET</key>
	<string>uberapp1-4b2cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387996622551:ios:bdda6b41a7eb6b85585a92</string>
	<key>DATABASE_URL</key>
	<string>https://uberapp1-4b2cb.firebaseio.com</string>
</dict>
</plist>